.game {
    width: 1100px;
    height: 200px;
    border-bottom: 1px solid #000000;
    margin: auto;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(img/dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    animation: dinoMov 3s infinite linear;
}

#dinoboom1 {
    width: 50px;
    height: 50px;
    background-image: url(img/dino1.png);
    background-size: 50px 50px;
    position: relative;
    top: 100px;
    animation: dinoboom1Mov 3s infinite linear;
}

#dinoboom2 {
    width: 50px;
    height: 50px;
    background-image: url(img/dino2.png);
    background-size: 50px 50px;
    position: relative;
    top: 100px;
    animation: dinoboom2Mov 3s infinite linear;
}

#cactus {
    width: 20px;
    height: 40px;
    background-image: url(img/cactusgreen.png);
    background-size: 20px 40px;
    position: relative;
    top: 60px;
    left: 580px;
    animation: cactusMov 3s infinite linear;
}

#cactusred1 {
    width: 20px;
    height: 40px;
    background-image: url(img/cactusred.png);
    background-size: 20px 40px;
    position: relative;
    top: 60px;
    left: 580px;
    animation: cactusred1Mov 3s infinite linear;
}

@keyframes dinoMov {
    0% {
        left: 0px;
        visibility: visible;
    }
    40% {
        left: 90px;
        visibility: visible;
    }
    40% {
        left: 90px;
        visibility: hidden;
    }
    100% {
        left: 70px;
        visibility: hidden;
    }
}

@keyframes dinoboom1Mov {
    0% {
        left: 0px;
        visibility: hidden;
    }
    40% {
        left: 90px;
        visibility: hidden;
    }
    40% {
        left: 90px;
    }
    100% {
        left: 0px;
    }
}

@keyframes dinoboom2Mov {
    0% {
        left: 0px;
        visibility: hidden;
    }
    40% {
        left: 100px;
        visibility: hidden;
    }
    40% {
        left: 100px;
    }
    100% {
        left: 0px;
    }
}

@keyframes cactusMov {
    0% {
        left: 1100px;
    }
    40% {
        left: 120px;
    }
    40% {
        left: 120px;
        visibility: hidden;
    }
    100% {
        left: 120px;
        visibility: hidden;
    }
}

@keyframes cactusred1Mov {
    0% {
        left: 120px;
        visibility: hidden;
    }
    40% {
        left: 120px;
        visibility: hidden;
    }
    40% {
        left: 120px;
        top: 10px;
    }
    100% {
        left: 250px;
        top: -20px;
    }
}

.jump {
    animation: jump 0.3s linear;
}
@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 130px;
    }
    50% {
        top: 80px;
    }
    80% {
        top: 130px;
    }
    100% {
        top: 150px;
    }
}

html {
    font-size: 16px;
    font-family: monospace;
}

body {
    margin: 0px;
}

div.game {
    /*background-color: #fafafa;*/
}

.navbar {
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding: 0px 10px 0px 10px;
}

.navigation {
    float: right;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.brand-logo {
    float: left;
    font-size: 32px;
}

.kontakt {
    float: right;
    margin: 120px 40px 0px 0px;
}

/*.message label{*/
/*    font-size: 14px;*/
/*    display: block;*/
/*    color: white;*/
/*}*/

.button1 {
    background-color: #6e0d27;
    border: none;
    color: azure;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 145px;
    height: 38px;
    border-radius: 80px/100px;
}

.part1 {
    background-color: #910d30;
    color: azure;
    text-align: center;
    font-size: 35px;
    padding: 201px 0px 201px 0px;

}
.part2 {
    text-align: left;
    font-size: 35px;
    margin: auto;
    padding: 150px;

}
.part3 {
    text-align: center;
    font-size: 35px;
    margin: auto;
    padding: 160px 40px 160px 40px;
}
.part4 {
    background-color: #fafafa;
    text-align: center;
    font-size: 35px;
    margin: auto;
    padding: 8px 8px 80px 8px;
}

.part5 {
    background-color: #f5f5f5;
    text-align: center;
    font-size: 35px;
    margin: auto;
    padding: 125px 80px 217px 80px;
}

.part6 {
    background-color: #002600;
    color: #f5f5f5;
    text-align: center;
    font-size: 25px;
    margin: auto;
    padding: 57px 80px 15px 80px;
}

.tabelka {
    background-color: #152a15;
    /*background-color: #cd9894;*/
    color: #b6b6b6;
    text-align: left;
    font-size: 25px;
    margin: auto;
    border-radius: 40px/30px;
    padding: 8px;
    border: solid;
    width: 900px;
}

.tabelkatekst {
    text-align: center;
    font-size: 25px;
    margin: auto;
}

.zainteresowania {
    width: 400px;
    font-size: 27px;
    padding: 0px 100px 0px 200px;
    text-align: left;
}

.gitara {
    padding: 0px 200px 0px 100px;
}

.button {
    background-color: #910d30;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 125px;
    height: 40px;
    border-radius: 40px/30px;
}

.logo {
    width: 30px;
    border-radius: 40%;
}

.produkty {
    color: #dadada;
}

a {
    color: #dadada;
    text-decoration: none;
}

/*{*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/



